<style>
  .expand-space {
    flex: 1 1 auto
  }

  #main-content-container {
    border:1px solid blue;
    height: 100vh;
  }
  mat-sidenav {
    background-color: #ccc;
    height: 300px;
  }

  mat-sidenav {
    border:1px solid turquoise;
    height:100%
  }
</style>
<mat-toolbar color='primary'>
  <span>App Logo</span> |
  
  <span class='expand-space'></span>
  <span>
    <button mat-raised-button>Logout</button>
  </span>
</mat-toolbar>

<div id='main-content-container'>
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened fullscreen>
      <p>Sidenav content</p>
      <p>Sidenav content</p>
      <p>Sidenav content</p>
      <p>Sidenav content</p>
      <p>Sidenav content</p>
    </mat-sidenav>

    <mat-sidenav-content>
      &nbsp;
    </mat-sidenav-content>
    
  </mat-sidenav-container>
</div>